name: Add issues to Liberty guides backlog project

on:
  issues:
    types:
      - opened
      - transferred

jobs:
  add-to-project:
    name: Add issue to backlog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/OpenLiberty/projects/11
          github-token: ${{ secrets.ADMIN_BACKLOG }}
